* {
    color: white;
}

.server_list {
    background-color: #1d1d1d;
    height: 92vh;
}

.controls {
    background-color: #1d1d1d;
    height: 8vh;
    display: flex;
    justify-content: center;
}

.buttons {
    background-color: #333333;
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: -70px;
    position: absolute;
    animation: buttons_down 1s ease forwards;
}

@keyframes buttons_down {
    0% {
        margin-top: -100px;
    }

    50% {
        margin-top: 25px;
    }

    100% {
        margin-top: 15px;
    }
}

.buttons button {
    width: 120px;
    border-radius: 10px;
    border: 0;
    padding: 5px;
    font-weight: bolder;
    margin: 0 5px;
}

.buttons .start {
    background-color: green;
    color: white;

    -webkit-box-shadow: 0px 0px 24px 2px rgb(0, 128, 0);
    -moz-box-shadow: 0px 0px 24px 2px rgb(0, 128, 0);
    box-shadow: 0px 0px 24px 2px rgb(0, 128, 0);
}

.buttons .restart {
    background-color: #ffff01;
    color: black;

    -webkit-box-shadow: 0px 0px 24px 2px rgb(255, 255, 1);
    -moz-box-shadow: 0px 0px 24px 2px rgb(255, 255, 1);
    box-shadow: 0px 0px 24px 2px rgb(255, 255, 1);
}

.buttons .stop {
    background-color: red;
    color: white;

    -webkit-box-shadow: 0px 0px 24px 2px rgb(255, 0, 0);
    -moz-box-shadow: 0px 0px 24px 2px rgb(255, 0, 0);
    box-shadow: 0px 0px 24px 2px rgb(255, 0, 0);
}

.buttons .kill {
    background-color: purple;

    -webkit-box-shadow: 0px 0px 24px 2px rgb(128, 0, 128);
    -moz-box-shadow: 0px 0px 24px 2px rgb(128, 0, 128);
    box-shadow: 0px 0px 24px 2px rgb(128, 0, 128);
}

.off, .on, .unknown {
    width: 100%;
    height: 15px;
    border-radius: 10px;
}

.off {
    background-color: red;
    box-shadow: 0px 0px 24px 2px rgb(255, 0, 0);
}

.on {
    background-color: #53ff00;
    box-shadow: 0px 0px 24px 2px rgb(83, 255, 0);

}

.unknown {
    background-color: dimgrey;
    box-shadow: 0px 0px 24px 2px rgb(105, 105, 105);

}

table, thead, tbody, td, th {
    border: 2px solid #333333;
    border-collapse: collapse;
}

table {
    text-align: center;
    width: 600px !important;
    font-size: 1.3em;
}

.server_list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.server_list p {
    margin-top: 10px;
    color: white;
    font-weight: bolder;
    max-width: 500px;
}